* {
	font-family: monospace, monospace;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.name {
	margin: 0;
	font-size: 18px;
	width: 100%;
}
.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#songs {
	width: 100%;
	background: #8640C9;
	flex: 1;
	overflow: auto;
}
.song {
	width: 100%;
	color: white;
	margin: 0;
	padding: 2px 0px 2px 0px;
	border-bottom: 1px solid #6D2FA7;
}
div.buttonbar img {
	width: 16px;
	height: 16px;
}
.buttonbar {
	padding: 2px 0px 2px 0px;
	text-align: center;
}
progress {
	height: 5px;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	background: #8640C9;
}
progress::-webkit-progress-value {
	background: #8c8c8c;
}
progress::-moz-progress-bar {
	background: #8c8c8c;
}
progress::-webkit-progress-bar {
	background: #8c8c8c;
}